<div>
<h2><%= team.name %>: Do you want to Change your team?</h2>
<form class = "edit-form" action="/teams/<%= team.name %>">
<div class = "form-group">
  <label for="teamName">New Name:</label>
  <input id = "new-name" type="text" name="name" class = "form-control"value="<%= team.name %>">
 </div>
 <div class="form-group">
  <label for="teamMembers">Team Members: </label>
  <input id = "members" type="text" name="members" class = "form-control" value="<%= team.members %>">
</div>
  <input type="submit" value="Update a team" class = "btn btn-success">
</form>
<div>